/*home page*/

/*enleve barre du dessous bouton commander*/
.ast-single-post .entry-content a,
.ast-comment-content a:not(.ast-comment-edit-reply-wrap a) {
    text-decoration: none;
}


#menu-admin,
/* css pour admin */
a {
    color: black;
    line-height: 30px;
    display: flex;

}

.menu-link

/*cacher lien ajout auto du theme commander sous le bouton commander*/
    {
    display: none;
}

/*page commander conteneur compteur */

/* largeur /meme div pour les 4 blocs html possible changement si jamais/ css theme astra fleche auto webkit enlever*/
.quantiter {
    width: 60px;
    /*39px affichage commme maquette,60px sinn peut pas voir jusqu'a 100 modif html elementor */
}

/* hauteur d'office bloc elementor  mais modifiable*/
.quantiter {
    height: 56px;
}